absl-py
aiofiles
aiogram
aiogram_dialog
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
anyio
async-timeout
asyncpg
attrs
beautifulsoup4
black
cachetools
certifi
charset-normalizer
click
cloudpickle
coloredlogs
contourpy
cycler
distro
exceptiongroup
filelock
flatbuffers
fonttools
frozenlist
fsspec
fvcore
gdown
greenlet
grpcio
h11
httpcore
httpx
humanfriendly
hydra-core
idna
imageio
imgviz
iopath
Jinja2
jiter
joblib
kiwisolver
labelme
lazy_loader
lxml
magic-filter
Markdown
MarkupSafe
matplotlib
mpmath
multidict
mypy-extensions
natsort
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
omegaconf
onnxruntime
openai
opencv-python
packaging
pandas
pathspec
pillow
platformdirs
portalocker
propcache
protobuf
psutil
py-cpuinfo
pycocotools
pydantic
pydantic_core
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
QtPy
requests
scikit-image
scikit-learn
scipy
seaborn
six
sniffio
soupsieve
SQLAlchemy
sympy
tabulate
tensorboard
tensorboard-data-server
termcolor
tesserocr
threadpoolctl
tifffile
tomli
torch
torchvision
tqdm
triton
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
uvloop
Werkzeug
yacs
yarl
